.navbar{
    
    background: rgb(241, 180, 65);
    box-shadow: 0 5px 10px black;    
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    color: #c2404d;
    font-size: 15px;
}

.navbar-brand{
    font-size: 25px;
}

.dropdown-menu{
    background-color: #c2404d;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 5px 5px 10px black;
    font-size: 20px;   
}

.dropdown-item:visited{
    background-color: #c2404d;
    color: black;
}

.dropdown-item:hover{
    background-color: rgb(241, 180, 65);
}

.btn-outline-danger:hover{
    color: rgb(241, 180, 65);
    font-size: large;
}

.dropdown-divider{
    border-top: 3px solid rgb(241, 180, 65);
}

.editProfileForm{
    height: auto;
}
