/* form {
    width: 5%;
    margin: 0px auto;
    padding: -2%;
}

.dv-star-rating {
    width: 150%;
} */

/* .dishForm {
    width:50%;
} */

.required-text{
    font-size:.75em;
}

button.dish-btn.btn.btn-primary {
    font-size: auto;
}

.modal-body {
    margin: 0% 32%;
}