.bioDiv{
    margin-top: 20px;
    max-width: 90%;
    min-width: 50%;
}

.profileImage{
    min-height: 150px;
    max-height: 300px;
}

.profileCard{
    align-content: center;
    text-align: center;
    background: rgba(206, 44, 32, 0.4);
    margin: 80px 15px 0px 15px;

}

.card{
    width: 90%;
    padding: 3px;
    text-align: center;
    background-color: rgba(210, 70, 70, 0.208);
    border-radius: 10px;
    margin-right: 0;
}

.compactContainer{
    margin-top: 80px;
    border-radius: 10px;
    text-align: center;
    height: fit-content;

}

.toCompact{
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 998;
    width: 60px;
    height: 60px;
    background-image: url("https://img.icons8.com/ios-filled/50/000000/menu.png");
    background-repeat: no-repeat;
    background-position: center;
}

.toFeed{
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 998;
    width: 60px;
    height: 60px;
    background-image: url("https://img.icons8.com/ios-filled/50/000000/stacking.png");
    background-repeat: no-repeat;
    background-position: center;
}

.delButton{
    z-index: 200;
}

.searchFeed{
    margin-top: 100px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    overflow: auto;
    height: 600px;
}



