/* .card {
    background: transparent;
    border-radius: 2px;
    height: 215px;
    margin: 1rem;
    position: relative;
    width: 275px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
  }
  .card > .img-container > img {
    width: 50%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  .card > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  }
  img {
    width: 140px;
    vertical-align: middle;
    border-style: none;
    height: 150px;
}
li{
  list-style-type: none;
}
strong{
  font-size: 15px;
}
   */

   .teamImage{
     width: 100px;
   }

.teamDiv{
  text-align: center;
  
}